.container
  display: grid
  grid-template-columns: 75% 25%
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #eee
  mat-sidenav
    display: auto
    max-width: 300px
    min-width: 100px
