@use '/routes/shared/default' as *
<<<<<<< HEAD
.container
  // display: grid
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #eee
  min-width: 280
=======
mat-toolbar
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 10
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3)
  background-color: #454545
  color: #FFFFFF
.container
  // display: grid
  display: flex
  justify-content: flex-end
  >div
    >a
      color: #FFFFFF
      transition: opacity 0.2s
    >a:hover
      opacity: 0.2
>>>>>>> release/v1.0.1
  mat-sidenav
    display: auto
    max-width: 300px
    min-width: 100px
  mat-sidenav-content
    // min-width: 300px
.menu
  position: fixed
  // background-color: $BackgroudColor
<<<<<<< HEAD

=======
>>>>>>> release/v1.0.1
